
.mainContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 200px 15%;
  
}

.leftMainContent {
  display: flex;
  flex-direction: column;
  width: 55%;
}

.mainPresentation {
  font-size: 3.5rem;
}

.mainDescription {
  font-size: 1.5rem;
}

.handEmoji:hover {
  animation-name: wave-animation;
  animation-duration: 2s;
  animation-iteration-count: 1;
  display: inline-block;
}

.mainStack {
  margin-top: 40px;
}

.mainStack, .ulStack {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.ulStack li {
  list-style: none;
  margin: 0 10px;
}

.techImage {
  width: 40px;
}

.authorImage {
  height: 400px;
}

.workContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 50px auto;
  width: 700px;
  border: 1px solid rgba(179, 179, 179, 0.493);
}

.previousJobs {
  display: flex;
  width: 700px;
  height: 350px;
  border-top: 1px solid rgba(179, 179, 179, 0.493);
}

.leftList {
  width: 200px;
}

.leftList ul li {
  list-style: none;
  padding: 20px;
}

.leftList ul li:hover {
  background-color: rgb(230, 230, 230);
}

.rightDescription {
  width: 500px;
  overflow-y: hidden;
  border-left: 1px solid rgba(179, 179, 179, 0.493);
  overflow: hidden;
  padding: 10px;
}

.ppfyJob, .freeJob {
  width: 100%;
  height: 350px;
}


.functionJob { 
  padding-left: 20px;
  font-size: 12px;
  margin: 5px 0;
}

.workDate {
  font-size: 10px;
}

@keyframes wave-animation {
  0% { transform: rotate( 0.0deg) }
 10% { transform: rotate(14.0deg) }
 20% { transform: rotate(-8.0deg) }
 30% { transform: rotate(14.0deg) }
 40% { transform: rotate(-4.0deg) }
 50% { transform: rotate(10.0deg) }
 60% { transform: rotate( 0.0deg) }
100% { transform: rotate( 0.0deg) }
}