.cardLink {
    margin: 0px auto;
}

.card {
    overflow: hidden;
    width: 350px;
    height: 500px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin: 5rem auto;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    border-radius: 10px;
}

.mainTitle {
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cover{
    width: 100%;
    height: 80%;
}

.title {
    width: 100%;
    height: 20%;
    text-align: center;
}
.card h1 {
    font-size: 1rem;
}

.card img:hover {
    opacity: 0.8;
}
  

.postInfo{
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items: flex-start;
    height: 50%;
}

.postInfo img {
    width: 100px;
}

.authorInfo {
    display: flex;
    font-size: 0.8rem;
}

.postMetaData {
    display: flex;
    width: 100%;
    justify-content: space-between;
    font-size: 0.8rem;
    margin: 10px 0;
}

.postMetaData img {
    width: 20px;
    height: 20px;
    border-radius: 50%;
}